/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


  /* ---- body ---- */
body {
    font-family: $fontText;
    font-weight: $regularWeight;
    font-size: 14px;
    background-color: rgb(208, 208, 208);
}

  /* ---- header ---- */

header {
    font-family: $fontFamily;    
    background-color: $primaryColor;
    padding: .5rem $gutter;
    width: 100vw;
    box-shadow: 2px 2px 4px;
    
}
header a{
    text-decoration: none;
    text-align: center;
    color: white;

}




/*---Main---*/
// #location{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     }

#forecast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theDay{
    background-color: $primaryColor;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 5px;
    width: 80%;
    margin-bottom: 3%;
    box-shadow: 2px 2px 4px;
    text-align: center;
}

p {
    font-size: 2rem;
}
.dayOfWeek{
    padding: 2%;
    font-size: 1.5rem;
    background-color: darken($primaryColor, 10%);
}

footer p{
    text-align: center;
    font-size: 1rem;
}

// img{
//     width: 20%;
// }


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


//img sizes: lead img needs to be 906px wide
// teaser img needs to be 350px