
    header, nav, main {
        max-width: 1200px;
        margin:auto;
    }
    
    
    
    nav ul {padding-left: $gutter;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    
    main figure { width: 31%;}

    header img{
        width: 10%;
    }
    
 /* end of media query */