

    header, main, nav ul {
        max-width: 1200px;
        margin:auto;

    }



    @for $i from 1 through 12{
        $w:($i/12)*100%;
        .large-#{$i} {flex-basis: $w;}
    }
    
.tips{
display: grid;
grid-template-columns: 50% 100%;   

}
.FAQ{
    justify-content: space-evenly;
}
    
 /* end of media query */