header h1{
	font-size: 1.6rem;
}
header h2{
	font-size: 1.3rem;
}
nav li {
	float: left;
	padding: 0 2% 0 2%;
	border-style: none solid none none;

}


nav ul {
	padding-left: $gutter;
	display: block;

}

@for $i from 1 through 12{
    $w:($i/12)*100%;
    .medium-#{$i} {flex-basis: $w;}
}


.callToAction {
	display:flex;
	flex-direction: row;
	padding-bottom: 20px;
}
.actionButton {
	width: 100%;
	justify-content: space-evenly;
	// margin: 2%;

}
.tips{

	display: block;
}
.blog, .groupFAQ {
	display: flex; 
}

 /* end of media query */