/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontText;
    font-weight: $regularWeight;
    font-size: 16px;
}

header {
    font-family: $fontFamily;
    background-color: $primaryColor;
    padding: .5rem $gutter;
    display: grid;
    grid-template-columns: 400px auto;

    
}

header h1 {
    
    color: white;
	margin: 0; 
    font-size: 1.5rem;
    font-weight: $heavyWeight;
}
header h2{
    color: white;
    font-size: 1rem; 
}


header figure.logo{
    float: left;
    margin: 0 2% 0 0;
}

nav {
    background-color: darken($menuColor, 20%);
    // width: 100vw;
    // display: block;

}

nav ul{
    display:flex;
    justify-content: flex-start;
    margin:auto; 
    padding-left: 3%;
    padding-right: $gutter;
}
nav li {
    font-family: $fontFamily;

    font-size: .8rem;
    list-style-type: none;
    align-content: space-evenly;
    margin: auto;
    padding: 0 1% 0 1%;
    

}
nav li.active {background-color: lighten($menuColor, 10%)}
nav a {
    display: block;
    padding: .5rem .2rem;
    color: #eee;
    text-decoration: none;
}
nav li:hover {
    background-color: $menuColor};




/*---Main---*/

/*---COLUMNS----*/
div.attorneys{
    display: flex;
    flex-wrap: wrap;
}
@for $i from 1 through 12{
    $w:($i/12)*100%;
    .small-#{$i} {flex-basis: $w;}
    .backgroundColor{background-color: lightblue;}
    .column{padding: 0 $gutter}
    
}

.attorneys img{
    max-width: 130px;
}
.attorneys h3{
    font-size: .9rem;
}


  footer {
    width: 100vw;
    // display: block;
    position: absolute;
    background-color: $footerColor;
    text-align: center;
    padding: 1rem $gutter;
    overflow: hidden;
    margin-top: 100px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}