/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontText;
    font-weight: $regularWeight;
    font-size: 14px;
}

header {
    font-family: $fontFamily;
    background-color: $primaryColor;
    padding: .5rem $gutter;
    display: column;
    // grid-template-columns: 400px auto;
    // align-items: flex-end;
    // justify-content: space-between;
    border-style: solid none none none;
    border-width: 5px;
    border-color: $menuColor;
    // padding-right: 5%;

}
.headerText {
    color: white;
    margin:auto;
}
header h1 {
    font-size: 1.5rem;
    font-weight: $heavyWeight;
}
header h2{
    font-size: 1rem; 
}


header figure.logo{
    float: left;
    margin: 0 2% 0 0;
}

.searchbar {
float: right;
margin: 0;
}



nav {
    background-color: darken($menuColor, 20%);
}

nav ul{
    margin:auto; 
    padding-left: 3%;
    padding-right: 3%;
}
nav li {
    font-family: $fontFamily;
    font-size: .8rem;
    list-style-type: none;
    // align-content: space-evenly;
    // margin: auto;
    padding: 0 1% 0 1%;
    

}
nav li.active {background-color: lighten($menuColor, 10%)}
nav a {
    display: block;
    padding: .5rem .2rem;
    color: #eee;
    text-decoration: none;
}
nav li:hover {
    background-color: $menuColor};

/*---Main---*/
.attorneys, .blogButton {
    display: flex; 
    flex-wrap: wrap; 
}

/*---COLUMNS----*/
div.attorneys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    margin-bottom: 2%;
  
  
}
@for $i from 1 through 12{
    $w:($i/12)*100%;
    .small-#{$i} {flex-basis: $w;}
    .column{padding: 0 $gutter;}
    
}
.attorneys img{
    max-width: 80%;
}
.attorneys h3{
    font-size: .9rem;
}

.callToAction{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.actionButton{
    width: 70vw;
    background-color:$primaryColor;
    color: white;
    padding: 15px 25px;
    margin-bottom: 2%;
}

button{
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
button:hover{
    background-color: $menuColor;
    color: white;

}

.blog img {
    max-width: 100%;
}
.blogButton {
    margin-bottom: 50px;
}


.tips{
    display: none;
    // grid-template-columns: 600px auto;
}

  footer {
    width: 100vw;
    // display: block;
    position: absolute;
    background-color: $footerColor;
    text-align: center;
    padding: 1rem $gutter;
    overflow: hidden;
    margin-top: 100px;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}