/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, main{
    background-color: rgb(242, 242, 242);
}

.pageWrapper header {
    background-image: url('/images/Smallscreenlogo.png');
    background-repeat: no-repeat;
    height: 65px;
    position: relative;
    margin-top: 2%;
    // border-bottom: 1px solid grey;
}


  /* ---- body ---- */
body {
    font-family: $fontText;
    font-weight: $regularWeight;
    font-size: 14px;
}

  /* ---- header ---- */

header {
    grid-area: header;
    font-family: $fontFamily;
    padding: .5rem $gutter;
    width: 100vw; 
}


/*--- navigation* ---*/
#hamburgerBtn{
    color: $menuColor;
    border: none;
    font-size: 1.5rem;
    // margin-left: 2%;
}


  #hamburgerBtn span:nth-child(1){
    display: block;
  }
  #hamburgerBtn span:nth-child(2){
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1){
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2){
    display: block;
  }

  #navList {
    height: 0;
    overflow: hidden;
  }
  #navList.open{
    height:auto;
  }


#navList li ul{
    display: none;

  }
  
  #navList li.parent a::after {
    content: ' \25BC';
  
  }
  
  #navList li:hover ul{
    display: block;
  }
  nav li {
    list-style-type: none;
      font-family: $fontFamily;
      font-size: .8rem;
  
  }


nav ul{
    list-style-type: none;
    margin:0; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}
nav ul li {
    font-family: $fontFamily;
    font-size: .8rem;
    padding: 0 1% 0 1%;
    flex-basis: 100%;
}

nav ul li a {
    display: block;
    padding: .5rem 2%;
    color: rgb(145, 145, 145);

    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.3);

} 

nav ul li ion-icon{
    padding-right: 2%;
}
nav ul li.active a{
    background-color: lighten($menuColor, 10%);
    color: white;
}


nav ul li a:hover {
    background-color: $menuColor;
};


/*---Main---*/


/* -------HERO IMAGE-------*/
.heroImg img{
    max-width: 100%;
}


h1, h2, h3 {
    color: $headerColor;
}

.infoBanner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 2% 0 2%;
    background-color: black;
    color: white;
    h2 {
        color: yellow;
    }
    #success{
        font-size: 1.4rem;
    }

    .sectionOne{
        grid-column: 1 / span 2;
    }
    .sectionTwo{
            text-align: right;
    }
}

hr {
	border:none;
	height: 20px;
	//    width: 90%;
	  height: 50px;
	  margin-top: 0;
	  border-bottom: 1px solid rgb(201, 201, 201);
	  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.1);
	margin: -50px auto 20px; 
  }


#aboutUsTitle{
    padding-left: 2%;
    margin-bottom: 0;
}

.aboutUsGrid, .techGrid{
    display:grid;
    margin: 0 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    h3{
        text-align: center;
        margin: 2%;
    }
    p{
        margin: 2% 0 20px 0;
        display:block;
        text-align:left;
        font-size: .75rem;
    }
    .teaser{
        padding: .2rem 2vw;
    }
    .teaser img {
        width: 100%;
    }

}

.techGrid{
    display:grid;
    width: 98%;

    // flex-wrap: wrap;
    padding-right: 2vw;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto;
    
    img {
        width: 98%;
    }
    .techText{
        grid-column: 1 / span 1;
    }
    .graph{
        grid-column: 2 / span 1;
        margin-bottom: 2%;
    }
}


.sponsors{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: center;
    align-content: center;
    // gap: 4px;
    // grid-auto-flow: column;
    grid-template-rows: auto;
    figure{
        display: grid;
        margin: 0;

    }
    figure img{
        width: 80%;
        // margin: 0 10%;
        padding: 10% 0 10% 10%;
    }
}


  footer {

    background: $footerColor;
    text-align: center;
    color: white;
    overflow: hidden;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


//img sizes: lead img needs to be 906px wide
// teaser img needs to be 350px