$primaryColor:rgb(158, 73, 58);
$footerColor: linear-gradient(0deg, rgba(19,42,77,1) 0%, rgba(81,147,185,1) 100%); ;

$headerColor: rgb(26, 130, 148);

$fontFamily:'Quicksand';
$fontText:'Quicksand';
$regularWeight: 300;
$heavyWeight: 600;

$gutter: 2vw;

$menuColor: #555;