
div.pageWrapper {
	grid-template-areas:
	  "header header"
	  "navigation content"
	  "footer footer";
	grid-template-columns: 150px auto;
	grid-template-rows: auto;
  }

  /* --navigation --*/
  a.jump{
	  display: none;
  }
  nav{
	  height: auto;
  }

  h1{
	  font-size: 1.8rem;
  }


  .rowOne, .rowTwo, .rowThree {
    grid-template-columns: 1fr 1fr 1fr;
	column-gap: .5rem;
    .columnOne {
        order: 1;
		grid-column: 1 / span 2;
    }
    .columnTwo{
		order: 3;
		grid-column: 1 / span 2;
    }
    .columnThree{
		order: 2;
		grid-column: 1 / span 2;
	}
}

.rowTwo{
	columnOne {
		order: 1;
		grid-column: 2 / span 2;
	}
	.columnTwo{
		order: 3;
		grid-column: 2 / span 2;
    }
    .columnThree{
		order: 2;
		grid-column: 2 / span 2;
		grid-row: 1 / span 2;
	}
}
 /* end of media query */