

    main, header, nav {
        max-width: 64rem;
        margin: auto;


    }
    nav ul{
        margin: 0;
    }
    nav ul li a{
        padding: .6rem 1rem;
    }



  .card-hover{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }


 /* end of media query */