

    main, nav ul {
        max-width: 1024rem;
        margin:auto;

    }
    nav ul{
        margin: 0;
    }
    nav ul li a{
        padding: .6rem 1rem;
    }



  .card-hover{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }


 /* end of media query */