

    header, main, nav ul{
        max-width: 1024px;
        margin:auto;

    }
    // .headerWrapper {
    //     background-image: url('/images/headerRepeat.png');  
    // }

    header {
        background-image: url('/images/headerLarge.jpg');
    }

    
    nav ul {
        padding-left: $gutter;
        display: block;

    }

    nav a {padding: .5rem .2rem;}
    

    
 /* end of media query */