

    
    nav {
        width: 100vw;
        margin: auto;
        padding: 2px 0 2px 0px;
    }


 header h2{
     display: block;
        margin: 0; 
        font-size: 1rem; 
        font-weight: $regularWeight;
    }
    

.info{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}
.text{
    float: left;
}

header {
    background-image: url('/images/mediumHeader2.jpg');  
}
 /* end of media query */