$primaryColor:rgb(158, 73, 58);
$secondaryColor: rgb(85, 158, 231);
$footerColor: #eee;

$fontFamily:'Quicksand';
$fontText:'Quicksand';
$regularWeight: 300;
$heavyWeight: 600;

$gutter: 2vw;

$menuColor: rgb(138, 121, 86);

$background-gradient: blue;