

    header, main, nav ul{
        max-width: 1024px;
        margin:auto;

    }
    .headerWrapper {
        background-image: url('/images/headerRepeat.png');  
    }

    header {
        background-image: url('/images/headerLarge.jpg');
    }

    

    
 /* end of media query */