

    nav li {
        float: left;
        padding: 0 2% 0 2%;
        border-style: none solid none none;
    
    }

    
    nav ul {
        padding-left: $gutter;
        display: block;

    }

    nav a {padding: .5rem .2rem;}
    


 header h2{
     display: block;
        margin: 0; 
        font-size: 1rem; 
        font-weight: $regularWeight;
    }
    

.info{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}
.text{
    float: left;
}

header {
    background-image: url('../../national_park/images/mediumHeader2.jpg');  
}
 /* end of media query */